
<h1>Checkout</h1>
<h2>You are checking out the following products:</h2>
<ul>
  <% @cart.items.each do |item| %>
    <li>
      <em>
        <%= item.quantity %>
      </em>
      <%= item.product.name %>
      <%= number_to_currency item.total_price %>
    </li>
  <% end %>
</ul>
<p>
  <strong>
    Total price:
    <%= number_to_currency @cart.total_price %>
  </strong>
</p>
<%= form_for @order_form, url: orders_path do |f| %>
  <h3>Add the following details to contiue:</h3>
  <div id="dropin">
  <div id="payment-form"></div>
  </div>
  <p>
    <%= f.submit "Place order", class: "btn btn-primary" %>
  </p>
<% end %>


<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "<%= @client_token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
