<div id="products">

<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Products Page</h1>
            <p>The list of products will go here</p>
        </div>
    </div>
    <!-- End row -->
    <% @products.in_groups_of(3, false).each do |group| %>
    <div class="row"> <!-- New Product Row -->
      <% group.each do |product| %>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <%= image_tag product.image %>
            </a>
            <h3><%= link_to product.name, product %></h3>
            <p><%= product.description %></p>
            <p><%= link_to 'Edit', edit_product_path(product) %>
            <p><%= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?'} %>
        </div>
        <% end %>
      </div>
      <% end %>

        </div>
      </div>
        <!-- End container -->
