<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Products", store_index_path %></li>
	<li><%= link_to "About", pages_about_path %></li>
	<%if user_signed_in? && current_user.admin != 1 %>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
		<% if @cart %>
		<% if @cart.empty? %>
		<li><%= link_to "Your cart is empty." %></li>
	<% else %>
		<li><%= link_to "You have #{pluralize @cart.count, "item"}.", cart_path %></li>
	<% end %>
<% end %>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>
	<% if user_signed_in? && current_user.admin == 1 %>
	<li><button class="btn btn-primary dropdown-toggle admin-btn" type="button" data-toggle="dropdown">Admin</button>
		<ul class="dropdown-menu">
			<li><%= link_to "Add new products", new_product_path %></li>
			<li><%= link_to "Edit current products", products_path %></li>
			<li><%= link_to "Customer orders", orders_path %></li>
			<li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>

		</ul>
	<% end %>

</ul>
