<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Products", products_path %></li>
	<li><%= link_to "About", pages_about_path %></li>
	<%if signed_in?%>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
		<% if @cart %>
	<li><% if @cart.empty? %>
		Your cart is empty.</li>
	<% else %>
		<li><%= link_to "You have #{pluralize @cart.count, "item"}.", cart_path %></li>
	<% end %>
<% end %>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
  <%end%>

</ul>
