<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars Store</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/assets/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://js.braintreegateway.com/js/braintree-2.31.0.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
  		<%= render 'layouts/header' %>

      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert-info") %>
      <% end %>
    <%= yield %>

  <%= render 'layouts/footer' %>

  </body>
</html>
