<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars Store</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/assets/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  		<%= render 'layouts/header' %>

  <%= content_tag :div, notice, class: "bg-success" %>
  <%= content_tag :div, alert, class: "bg-danger" %>
    <%= yield %>
  <%= render 'layouts/footer' %>

  </body>
</html>
